<mat-list>
  <mat-list-item *ngFor="let todo of todos">
    <mat-checkbox [(ngModel)]="todo.completed" (change)="toggleTodoCompletion(todo)">
      {{ todo.title }}
    </mat-checkbox>

    <button mat-icon-button color="primary" (click)="editTodo(todo)">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button color="warn" (click)="deleteTodo(todo.id!)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</mat-list>

<!-- Edit form -->
<div *ngIf="selectedTodo">
  <mat-form-field>
    <input matInput [(ngModel)]="selectedTodo.title" placeholder="Title">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="updateTodo()">Update</button>
</div>
