/* src/styles.css */
body {
  font-family: Roboto, Arial, sans-serif;
}

mat-form-field {
  width: 100%;
}

mat-list {
  max-width: 600px;
  margin: 0 auto;
}

button {
  display: block; /* Ensure the button is not set to display: none; */
  margin: 16px auto;
}
